#bx-soa-paysystem-and-delivery > div:first-child {
    order: 2;
}

.custom-basket-top .basket-total,
.custom-basket-top .basket-items-panel,
#bx-soa-basket {
    display: none !important;
}

.catalog-element-buy-container .intec-ui-part-content,
.ns-bitrix.c-catalog-element.c-catalog-element-catalog-default-5 .catalog-element-buy-added[data-basket-state=added] {
    color: #fff !important;
}

.catalog-element-buy-button.intec-cl-background,
.catalog-element-buy-button.intec-cl-background:hover {
    background-color: #8b00ff !important;
}

.intec-content-right-wrapper .intec-button.intec-button-cl-common:hover,
.intec-content-right-wrapper .intec-button.intec-button-cl-common.hover {
    color: #fff !important;
    background-color: #8b00ff !important;
}

.intec-content-right-wrapper .intec-button.intec-button-cl-common {
    border-color: #8b00ff !important;
}

.intec-ui-part-content {
    color: #8b00ff !important;
}

.intec-ui-control-basket-button:hover .intec-ui-part-content,
.ns-bitrix.c-catalog-element.c-catalog-element-catalog-default-5 .catalog-element-buy-button {
    color: #fff !important;
}

.catalog-element-offers-list-item-img {
    display: inline-block;
    float: left;
    margin-right: 15px;
}

.vygoda_price {
    margin-top: 5px;
    color: #8abc43;
}

.catalog-element-offers-list-item-text {
    font-size: 14px;
    color: #222;
    margin-top: 20px
}

.stickers-id-item {
    background-image: url("/images/stick_bg.png");
    background-repeat: no-repeat;
    width: 178px;
    height: 22px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    font-size: 14px;
    overflow: hidden;
    margin-bottom: 5px;
}

.stickers-id-item .stiker-title {
    width: 55px;
    display: inherit;
}

.stickers-id-item:hover .stickers-id-item-inner {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

.stickers-id-item-inner {
    position: absolute;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    width: 178px;
    text-align: left;
    left: 0;
    top: 0;
    height: 22px;
    line-height: 22px;
    padding-left: 10px;
    z-index: 1;
    background-color: #FDD165;
    font-weight: normal;
    font-size: 13px;
    -webkit-transform: translateX(-178px);
    -moz-transform: translateX(-178px);
    -ms-transform: translateX(-178px);
    -o-transform: translateX(-178px);
    transform: translateX(-178px);
}

.catalog-element-gallery-container {
    position: relative;
}

.stickers-id {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    margin-top: 10px;
}

.catalog-content-left .catalog-menu .menu-wrapper .menu-item:nth-child(n + 11) {
    display: none;
}

.show_all_menu_elem {
    display: block;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
    text-decoration: underline;
    font-size: 13px;
}

.show_all_menu_elem:hover {
    color: #f5b553;
}